.Input{
    width:100%;
    padding:10px;
    box-sizing: border-box;
}
.Label{
    font-weight:bold;
    display:block;
    margin-bottom:8px;
    text-align: left;
    text-transform: capitalize;
}
.InputElement{
outline:none;
border:1px solid #ccc;
background-color: #fff;
font:inherit;
padding:10px;
box-sizing: border-box;
display:block;
width:100%;
}
.InputElement:focus{
    outline:none;
    background-color: #ccc;
}
.Invalid{
    border:1px solid red;
    background-color:#fda49a;
}
@media (min-width:768px){
    .Input{
        width:50%;
        padding:10px;
        display:inline-block;
    }
}